<h1>My first component sampbind</h1>

<app-custom></app-custom>
<p>{{fname}} {{lname}}</p>

<img [src]="imageurl" alt="Sign in page" id="image">

<h2 [innerText]="text"></h2>

<button (click)="counter()">Count</button>
<p id="answer">Counter Value: {{count}}</p>

<button class="btn btn-primary" [disabled]="butval" (click)="display()">Click</button>
<p id="answer">Value changed : {{fname}} {{lname}}</p>

<input type="text" (input)="show($event)">
<p id="answer">You entered {{text}}</p>

<!--Two Way binding - combination of two binding-->

<input type="text" name="value" [(ngModel)]="value">
<p id="answer">You entered {{value}}</p>

<p [className] ="'red size50'">Class Binding</p>


<p [style.background-color]="'yellow'">Inline Binding</p>


<!--directive-->

<p [ngClass]="['red','size50']">Using ngClass</p>

<p [ngStyle]="{'color':'violet','font-size':'40px'}">using ngSyle</p>